<!DOCTYPE html>
<html>
<head>
	<title>Students</title>
</head>
<body>
	<form action="/form" method="POST">
	
		<input type="text" name="campus">
				
		<button type="submit">Submit</button>
	</form>
</body>
</html>